.hero-banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  background: url(D:\dev\test-layout\src\images\hero-banner.png);
  background-size: cover;
}

#hero-text {
  position: absolute;
  width: 60%;
  height: auto;
  left: 20%;
  top: 30%;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;

  color: #ffffff;
}
#hero-text-two {
  position: absolute;
  width: 20%;
  height: auto;
  left: 20%;
  top: 45%;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.presentation-box {
  position: relative;
  width: 80%;
  height: auto;
  margin: 50px auto 0;
}

.title-text {
  height: auto;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #000000;
}

#text-box {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}
.download-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#download-btn {
  width: 20%;
  height: auto;

  background: #2980b9;
  border-radius: 5px;

  padding: 10px;

  margin: 0 10px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  border-width: 0px;

  color: #ffffff;
}

@media (max-width: 768px) {
  #hero-text {
    width: 80%;
    left: 10%;
    top: 20%;
    font-size: 5vw;
  }
  #hero-text-two {
    width: 40%;
    left: 30%;
    top: 40%;
    font-size: 2vw;
  }
  .presentation-box {
    width: 90%;
    margin-top: 50px;
  }
  .title-text {
    font-size: 4vw;
  }
  #text-box {
    font-size: 2vw;
  }
  #download-btn {
    width: 30%;
    font-size: 2vw;
  }
}
