.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 160px;
  margin-right: 160px;
  text-align: center;
}

#info-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  text-align: left;
  margin-left: 50px;
  color: #d35400;
}
#info-title-reverse {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  text-align: left;
  margin-left: 50px;
  color: #d35400;
  text-align: right;
  margin-right: 50px;
}
#info-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-left: 50px;
  margin-right: 50px;
  color: #000000;
  text-align: left;
}

#info-text-reverse {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-left: 50px;
  margin-right: 50px;
  color: #000000;
  text-align: right;
}
.info-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  margin-left: 160px;
  margin-right: 160px;
  text-align: center;
  margin-bottom: 50px;
}
