.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #ecf0f1;
}

.logo-splash {
  width: 138px;
  height: 40px;
  background-image: url(D:\dev\test-layout\src\images\logo-splash-osim-rgb21.png);
}

.navbar-button {
  width: 120px;
  height: 40px;
  background-color: #1abc9c;
  border-radius: 5px;
  border-width: 0cm;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .logo-splash {
    margin: 10px;
  }

  .navbar-button {
    margin: 10px;
  }
}
